.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Rbuildignore
_site.yml
_images
_pkgdown
_suporte
_postcards
dados
imagens
R
VideoDecodeStats
nbasico.Rmd
index.Rmd
nbasico.R
navancado.Rmd
teste.Rmd
ben.png
bibliog.bib
DESCRIPTION
about.html
