.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Rbuildignore
_site.yml
_images
_pkgdown
_suporte
#_nbasico
_postcards
R
VideoDecodeStats
#nbasico.Rmd
#index.Rmd
#nbasico.R
#navancado.Rmd
#nintermediario.Rmd
teste.Rmd
#biblio.bib
DESCRIPTION

