body {
  background-image: url("open-book.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  font-size: 20px;
}

h1 {
  /* Título  */
  background-color: rgba(10, 159, 165, 0.3) /* tranparent */;
  /* opacity: 0.3; */
}

div {
  background-color: rgba(10, 159, 165, 0.3) /* tranparent */;
  /* opacity: 0.3; */
  padding: 0em;
  margin: 0;
}

p {

}
